<div class="col m9 l10">
	{{#each projects as |project|}}
	<div id="{{project.id}}" class="section scrollspy">
		<h2 class="header"><a href="{{project.url}}">{{project.name}}</a></h2>
		<p style="margin-bottom: 20px;">{{project.description}}</p>
		<img class="materialboxed" width="100%" src="{{project.image_url}}">
	</div>
	{{/each}}
</div>
<div class="col hide-on-small-only m3 l2">
	<ul class="section pinned table-of-contents">
		{{#each projects as |project|}}
		<li class="projectlinks"><a href="#{{project.id}}">{{project.name}}</a></li>
		{{/each}}
	</ul>
</div>
